.App {
  text-align: center;
}

.App-logo {
  height: 2%;
  pointer-events: all;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 19s linear;
  }
}

.App-header {
  background-color: darkyellow;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 10;
  color: white;
}

